# Mining processes inside Indigenous lands

An analysis of the individuals and companies seeking legal authorization to mine within these protected territories

In [1]:
import pandas as pd

In [2]:
# This is a CSV exported from QGIS, containing mining vectors located within Indigenous lands.
# Mining activity is legally prohibited within these territories.
# The data includes gold mining and other types of mineral extraction.
df_ind = pd.read_csv('mining_ind_lands.csv')

In [3]:
df_ind.head()

,PROCESSO,NUMERO,ANO,AREA_HA,ID,FASE,ULT_EVENTO,NOME,SUBS,USO,UF,DSProcesso
0,871501/2014,871501,2014,23.99,{4B604FB0-F71B-4748-B09E-43AADDC484B9},AUTORIZAÇÃO DE PESQUISA,178 - AUT PESQ/TAH - NOTIFICAÇÃO ADMINISTRATIV...,Marcondes Nogueira Beneficiamentos Ltda Me,AREIA,Construção civil,BA,871.501/2014
1,870631/2017,870631,2017,996.14,{430B272D-8C2C-4532-BEC4-E8CD24F5AABE},AUTORIZAÇÃO DE PESQUISA,225 - AUT PESQ/MULTA APLICADA PUBL EM 18/09/2023,Luciano Araujo Menezes,ARGILA,Industrial,BA,870.631/2017
2,872417/2012,872417,2012,36.32,{73E1EDE7-0099-45B7-8939-38EEB3420533},AUTORIZAÇÃO DE PESQUISA,2481 - AUT PESQ/VENCIMENTO ALVARÁ ALTERADO RES...,Empresa de Navegação Vjb Ltda,AREIA,Construção civil,BA,872.417/2012
3,871780/2018,871780,2018,905.86,{51F38A5F-67A5-4506-A7B0-99425C792300},AUTORIZAÇÃO DE PESQUISA,794 - AUT PESQ/RELATÓRIO FINAL PESQUISA POSITI...,MOACYR COSTA PEREIRA DE ANDRADE,AREIA,Industrial,BA,871.780/2018
4,872416/2012,872416,2012,48.11,{97AD657E-BB79-497E-917D-3BE34F296840},AUTORIZAÇÃO DE PESQUISA,2481 - AUT PESQ/VENCIMENTO ALVARÁ ALTERADO RES...,Empresa de Navegação Vjb Ltda,AREIA,Construção civil,BA,872.416/2012

In [146]:
df_ind.tail()

,PROCESSO,NUMERO,ANO,AREA_HA,ID,FASE,ULT_EVENTO,NOME,SUBS,USO,UF,DSProcesso
2630,830191/2004,830191,2004,960.00,{B69F52D1-21B9-4ECD-874D-1D2EBEC92B32},AUTORIZAÇÃO DE PESQUISA,236 - AUT PESQ/DOCUMENTO DIVERSO PROTOC EM 01/...,"BRASPEDRAS - COMERCIO, IMPORTACAO E EXPORTACAO...",GRANITO,Revestimento,MG,830.191/2004
2631,831071/2017,831071,2017,19.12,{7D754E95-9EE5-46C1-84E3-5C993BB3595C},LICENCIAMENTO,1774 - LICEN/RAL RETIFICADOR ANO BASE APRESENT...,CERAMICA SANTA CLARA LTDA,ARGILA,Construção civil,MG,831.071/2017
2632,831954/2023,831954,2023,1999.57,{51258603-B553-47F2-9279-2181D0463D5E},AUTORIZAÇÃO DE PESQUISA,294 - AUT PESQ/RENÚNCIA AUTORIZAÇÃO PESQUISA H...,FOXFIRE METALS LTDA,MINÉRIO DE LÍTIO,Industrial,MG,831.954/2023
2633,868337/2021,868337,2021,1578.86,{17F9552A-0BDE-4985-A3D7-5FED360B04BA},REQUERIMENTO DE PESQUISA,132 - REQ PESQ/PRORROGAÇÃO PRAZO EXIGÊNCIA PRO...,OMNI MINERACAO & CONSULTORIA LTDA,MINÉRIO DE COBRE,Industrial,MS,868.337/2021
2634,868336/2021,868336,2021,1830.99,{A11F8B9B-DA0B-4DB2-8172-49B484A44C9C},REQUERIMENTO DE PESQUISA,132 - REQ PESQ/PRORROGAÇÃO PRAZO EXIGÊNCIA PRO...,OMNI MINERACAO & CONSULTORIA LTDA,MINÉRIO DE COBRE,Industrial,MS,868.336/2021

In [147]:
df_ind.shape

(2635, 12)

In [148]:
df_ind.dtypes

PROCESSO       object
NUMERO          int64
ANO             int64
AREA_HA       float64
ID             object
FASE           object
ULT_EVENTO     object
NOME           object
SUBS           object
USO            object
UF             object
DSProcesso     object
dtype: object

In [149]:
#The ID data confirms that 2,633 mining processes are located within Indigenous territories
df_ind['ID'].nunique()

2633

In [150]:
df_ind['ANO'].min()

np.int64(1941)

In [151]:
df_ind['ANO'].max()

np.int64(2025)

In [11]:
#"FASE" refers to the stage of the mining process
df_ind['FASE'].value_counts().sort_values(ascending=False)

FASE
REQUERIMENTO DE PESQUISA                1277
AUTORIZAÇÃO DE PESQUISA                  587
REQUERIMENTO DE LAVRA GARIMPEIRA         294
APTO PARA DISPONIBILIDADE                126
DISPONIBILIDADE                          102
REQUERIMENTO DE LAVRA                     82
CONCESSÃO DE LAVRA                        63
LICENCIAMENTO                             34
LAVRA GARIMPEIRA                          25
REQUERIMENTO DE LICENCIAMENTO             24
DIREITO DE REQUERER A LAVRA               16
REQUERIMENTO DE REGISTRO DE EXTRAÇÃO       5
Name: count, dtype: int64

In [ ]:
# As we can see, the largest share of the data refers to "Requerimento de Pesquisa".
# This stage occurs at the beginning of the mining process.
# It basically involves individuals or companies requesting permission to explore specific areas for gold or other mineral resources.
# More information available here: https://www.gov.br/anm/pt-br/assuntos/acesso-a-sistemas/requerimento-de-pesquisa

In [12]:
# "USO" means "usage". It refers to the intended purpose or destination of what is or will be extracted
df_ind['USO'].value_counts().sort_values(ascending=False)

USO
Industrial               1368
Demais substâncias        789
Construção civil          237
Revestimento               81
DADO NÃO CADASTRADO        66
Fertilizantes              36
Gema                       18
Brita                       7
Engarrafamento              7
Cerâmica vermelha           6
Corretivo de solo           5
Metalurgia                  4
Fabricação de ligas         4
Ourivesaria                 2
Pedra de coleção            2
Fabricação de cimento       2
Energético                  1
Name: count, dtype: int64

In [18]:
# "SUBS" indicates the mineral substance targeted for exploration by the companies
df_ind['SUBS'].value_counts().sort_values(ascending=False).head(20)

SUBS
MINÉRIO DE OURO        612
OURO                   385
AREIA                  259
CASSITERITA            168
MINÉRIO DE COBRE       148
SAIS DE POTÁSSIO        73
DADO NÃO CADASTRADO     66
BAUXITA                 63
GRANITO                 59
COBRE                   52
MINÉRIO DE FERRO        50
DIAMANTE                43
ARGILA                  41
FOSFATO                 39
MINÉRIO DE MANGANÊS     34
MINÉRIO DE ESTANHO      31
ZIRCÃO                  30
NÍQUEL                  28
AREIA DE FUNDIÇÃO       26
MINÉRIO DE LÍTIO        23
Name: count, dtype: int64

In [ ]:
# 'OURO' means gold. The top two substances are gold and gold ore, so I’ll group them together
# I will do the same with other related materials.

In [9]:
df_ind['SUBS'] = df_ind['SUBS'].str.replace('MINÉRIO DE OURO','Gold').str.replace('OURO','Gold')

In [10]:
df_ind['SUBS'] = df_ind['SUBS'].str.replace('MINÉRIO DE COBRE','Copper').str.replace('COBRE','Copper')

In [11]:
df_ind['SUBS'] = df_ind['SUBS'].str.replace('AREIA', 'Sand').str.replace('CASSITERITA','Cassiterite')

In [12]:
df_ind['SUBS'] = df_ind['SUBS'].str.replace('SAIS DE POTÁSSIO', 'Potassium salts').str.replace('BAUXITA', 'Bauxite')

In [13]:
df_ind['SUBS'] = (df_ind['SUBS'].str.replace('DADO NÃO CADASTRADO', 'Null').str.replace('GRANITO', 'Granite')
    .str.replace('MINÉRIO DE FERRO', 'Iron ore').str.replace('DIAMANTE', 'Diamond'))

In [14]:
df_ind['SUBS'].value_counts().sort_values(ascending=False).head(10).to_clipboard()

In [15]:
df_ind['SUBS'].unique()

array(['Sand', 'ARGILA', 'RUTILO', 'Diamond', 'Gold', 'FOSFATO',
       'TITÂNIO', 'ALUMÍNIO', 'GUANO', 'ESTANHO', 'LINHITO', 'TURFA',
       'WOLFRAMITA', 'ENXOFRE', 'CROMO', 'PRATA', 'PLATINA',
       'Cassiterite', 'TANTALITA', 'COLUMBITA', 'Bauxite', 'Null',
       'CHUMBO', 'Potassium salts', 'MINÉRIO DE MANGANÊS', 'Iron ore',
       'Copper', 'NÍQUEL', 'QUARTZITO', 'MINÉRIO DE ESTANHO',
       'ÁGUA MARINHA', 'GIPSITA', 'MINÉRIO DE NÍQUEL', 'NIÓBIO',
       'MINÉRIO DE NIÓBIO', 'GRAFITA', 'MINÉRIO DE TITÂNIO', 'ZINCO',
       'MINÉRIO DE TÂNTALO', 'MINÉRIO DE ZINCO', 'CALCÁRIO',
       'ARGILA REFRATÁRIA', 'SAIBRO', 'Granite', 'SODALITA', 'MÁRMORE',
       'MANGANÊS', 'CONCHAS CALCÁRIAS', 'CALCÁRIO CORALÍNEO', 'BASALTO',
       'ARENITO', 'VANÁDIO', 'HEMATITA', 'ÁGUA MINERAL', 'CAULIM',
       'ZIRCONITA', 'TÂNTALO', 'ILMENITA', 'TUNGSTÊNIO', 'GNAISSE',
       'QUARTZO', 'FELDSPATO', 'MINÉRIO DE LÍTIO', 'MINÉRIO DE BERÍLIO',
       'BERILO', 'CALCÁRIO CALCÍTICO', 'Diamond INDUSTRIAL', 'FERRO',
       'CASCALHO', 'SILVINITA', 'MAGNETITA', 'Sand DE FUNDIÇÃO',
       'Sand QUARTZOSA', 'CORÍNDON', 'Granite P/ BRITA', 'DIATOMITO',
       'DIABÁSIO', 'MINÉRIO DE ALUMÍNIO', 'TERRAS RARAS',
       'Granite ORNAMENTAL', 'ZIRCÔNIO', 'ZIRCÃO', 'BERÍLIO',
       'MOLIBDÊNIO', 'TITANITA', 'CALCÁRIO DOLOMÍTICO', 'ARDÓSIA',
       'AMETISTA', 'TALCO', 'AMIANTO', 'Sand INDUSTRIAL', 'ANTRACITO',
       'MINÉRIO DE CHUMBO'], dtype=object)

In [234]:
df_ind['SUBS'].nunique()

93

In [241]:
df_ind['SUBS'].value_counts().sum() 1978

np.int64(2635)

In [243]:
df_ind['SUBS'].value_counts().sum() - df_ind['SUBS'].value_counts().head(10).sum()

np.int64(657)

In [21]:
df_ind['UF'].value_counts().sort_values(ascending=False)

UF
PA                     846
AM                     463
MT                     228
RR                     206
RO                     169
BA                     110
MG                     103
PR                      82
SC                      81
DADO NÃO CADASTRADO     66
MS                      59
SP                      47
GO                      32
PE                      30
AP                      22
TO                      16
RS                      15
ES                      14
CE                      13
PB                      11
MA                      10
AL                       8
RJ                       4
Name: count, dtype: int64

In [22]:
# The Amazonian states of PA, AM, and MT top the ranking for mining activities inside Indigenous lands
# This aligns with what we know about the gold rush in the Brazilian Amazon

In [6]:
df_ind.rename(columns={'NOME':'Company', 'FASE':'Stage', 'UF':'State'}, inplace=True)

In [22]:
df_ind['Company'].value_counts().sort_values(ascending=False).head(10).to_frame()

                                                  count
Company
MINERACAO SILVANA INDUSTRIA E COMERCIO LTDA         106
ANGLO AMERICAN NIQUEL BRASIL LTDA                    80
DADO NÃO CADASTRADO                                  66
RIO GRANDE MINERACAO S.A                             61
VALE S.A.                                            59
Falcon Metais Ltda                                   56
Mamoré Mineração e Metalurgia Ltda                   35
COOPERATIVA DOS GARIMPEIROS DA AMAZONIA - COOGAM     28
MINERACAO GUANHAES LTDA                              27
Mineração Itamaracá Ltda.                            27

In [17]:
df_ind.groupby('Stage')['SUBS'].value_counts().sort_values(ascending=False)

Stage                             SUBS
REQUERIMENTO DE PESQUISA          Gold                598
REQUERIMENTO DE LAVRA GARIMPEIRA  Gold                205
AUTORIZAÇÃO DE PESQUISA           Gold                136
REQUERIMENTO DE PESQUISA          Copper              118
REQUERIMENTO DE LAVRA GARIMPEIRA  Cassiterite          70
                                                     ...
REQUERIMENTO DE LAVRA             Bauxite               1
                                  ARDÓSIA               1
AUTORIZAÇÃO DE PESQUISA           SAIBRO                1
                                  Sand DE FUNDIÇÃO      1
DISPONIBILIDADE                   Sand DE FUNDIÇÃO      1
Name: count, Length: 220, dtype: int64

In [28]:
# We can see that the initial steps of mineral exploration are usually related to gold
# However, there is also a considerable number of "AUTORIZAÇÃO DE PESQUISA" entries
# "AUTORIZAÇÃO DE PESQUISA" means authorization to carry out work aimed at defining mineral veins
# More information here: https://www.gov.br/anm/pt-br/assuntos/exploracao-mineral/regimes-de-exploracao-mineral/autorizacao-de-pesquisa

In [18]:
df_ind.groupby('State')['SUBS'].value_counts().sort_values(ascending=False).head(10)

State                SUBS
PA                   Gold               442
AM                   Gold               145
RR                   Gold               130
MT                   Gold               124
PA                   Copper             118
RO                   Gold                98
PR                   Sand                77
PA                   Cassiterite         74
AM                   Potassium salts     73
DADO NÃO CADASTRADO  Null                66
Name: count, dtype: int64

In [31]:
# Once again, the Amazonian states lead the ranking for gold mining-related activities

In [19]:
df_ind.groupby('Company')['Stage'].value_counts().sort_values(ascending=False).head(15)

Company                                           Stage
MINERACAO SILVANA INDUSTRIA E COMERCIO LTDA       REQUERIMENTO DE PESQUISA            96
RIO GRANDE MINERACAO S.A                          REQUERIMENTO DE PESQUISA            58
DADO NÃO CADASTRADO                               DISPONIBILIDADE                     53
Falcon Metais Ltda                                APTO PARA DISPONIBILIDADE           51
ANGLO AMERICAN NIQUEL BRASIL LTDA                 REQUERIMENTO DE PESQUISA            49
Mamoré Mineração e Metalurgia Ltda                REQUERIMENTO DE PESQUISA            35
VALE S.A.                                         REQUERIMENTO DE PESQUISA            27
Mineração Itamaracá Ltda.                         REQUERIMENTO DE PESQUISA            26
VALE S.A.                                         AUTORIZAÇÃO DE PESQUISA             26
COOPERATIVA DOS GARIMPEIROS DA AMAZONIA - COOGAM  REQUERIMENTO DE LAVRA GARIMPEIRA    26
Joari Sociedade de Mineração Joari Ltda           REQUERIMENTO DE PESQUISA            22
MINERACAO GUANHAES LTDA                           REQUERIMENTO DE PESQUISA            21
EMPRESA DE MINERAÇÃO GALESA LTDA                  REQUERIMENTO DE PESQUISA            19
ANGLO AMERICAN NIQUEL BRASIL LTDA                 AUTORIZAÇÃO DE PESQUISA             18
GALENA MINERAÇÃO INDUSTRIA E COMÉRCIO   LTDA      REQUERIMENTO DE PESQUISA            16
Name: count, dtype: int64

In [34]:
# "ULT_EVENTO" refers to the most recent action taken within a mining process
# The number of withdrawals (DESISTENCIA) is somewhat intriguing
df_ind['ULT_EVENTO'].value_counts().sort_values(ascending=False)

ULT_EVENTO
157 - REQ PESQ/DESISTÊNCIA REQUERIMENTO PESQUISA HOMOLOGADA PUBL EM 15/04/2021      78
157 - REQ PESQ/DESISTÊNCIA REQUERIMENTO PESQUISA HOMOLOGADA PUBL EM 21/09/2018      52
2481 - AUT PESQ/VENCIMENTO ALVARÁ ALTERADO RESOLUÇÃO 76/2021-COVID EM 01/10/2021    45
131 - REQ PESQ/EXIGÊNCIA PUBL EM 17/12/2019                                         42
1356 - REQ PESQ/RECURSO PROTOC EM 21/10/2022                                        37
                                                                                    ..
333 - REQ PLG/REQUERIMENTO LAVRA GARIMPEIRA PROTOC EM 13/11/2020                     1
100 - REQ PESQ/REQUERIMENTO PESQUISA PROTOC EM 17/04/1984                            1
264 - AUT PESQ/TAH - PAGAMENTO EFETUADO EM 07/01/2022                                1
209 - AUT PESQ/INÍCIO DE PESQUISA COMUNICADO PROTOC EM 19/02/2025                    1
2619 - AUT PESQ/GUIA DE UTILIZAÇÃO PFM PROTOC EM 09/05/2025                          1
Name: count, Length: 1254, dtype: int64

In [37]:
df_ind['AREA_HA'].sum()

np.float64(5821913.32)

In [245]:
df_ind.groupby('SUBS')['AREA_HA'].sum().sort_values(ascending=False)

SUBS
Gold                   2617494.95
Copper                  525849.65
Cassiterite             474367.63
Potassium salts         307989.53
Bauxite                 293217.52
                          ...
CALCÁRIO DOLOMÍTICO         98.90
Sand INDUSTRIAL             50.00
Granite P/ BRITA            36.00
DIABÁSIO                    27.63
ARENITO                     17.64
Name: AREA_HA, Length: 93, dtype: float64

In [20]:
df_ind.groupby('Company')['AREA_HA'].sum().sort_values(ascending=False)

Company
MINERACAO SILVANA INDUSTRIA E COMERCIO LTDA    268703.76
RIO GRANDE MINERACAO S.A                       248864.38
Falcon Metais Ltda                             232938.51
VALE S.A.                                      175095.54
ANGLO AMERICAN NIQUEL BRASIL LTDA              162783.58
                                                 ...
Edivaldo Alexandre Nunes Me                         2.62
MINERAÇÕES URANO LTDA                               2.48
MIKAEL LUIZ FERNANDES PINTO                         2.31
RAIMUNDO FERREIRA DIAS                              1.43
JEANN SOUZA RIBEIRO                                 0.07
Name: AREA_HA, Length: 881, dtype: float64

In [183]:
# ANO refers to Year
df_ind['ANO'].value_counts().sort_values(ascending=False).head(15).to_frame()

      count
ANO
2011    133
2008    132
1996    128
2021    108
2016    108
2013    105
1994    103
1984    101
2019     96
2020     92
2015     91
2018     87
2014     80
2023     79
2005     77

In [182]:
df_ind['ANO'].value_counts().sort_values(ascending=False).head(10).to_frame().to_clipboard()

python3.12(80508) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.

In [47]:
import matplotlib.pyplot as plt
import numpy as np

In [90]:
df_ind['ANO'].value_counts(normalize=True).sort_values(ascending=False)

ANO
2011    0.050474
2008    0.050095
1996    0.048577
2021    0.040987
2016    0.040987
2013    0.039848
1994    0.039089
1984    0.038330
2019    0.036433
2020    0.034915
2015    0.034535
2018    0.033017
2014    0.030361
2023    0.029981
2005    0.029222
2022    0.028843
1995    0.028843
2017    0.028843
1983    0.028463
2010    0.028083
2006    0.028083
1993    0.026945
2012    0.025806
2024    0.023529
2009    0.020493
2007    0.014042
2003    0.013283
2025    0.012903
1985    0.012144
1997    0.011765
1987    0.010626
2001    0.009108
2004    0.006072
1989    0.005693
1992    0.005693
1998    0.005313
1982    0.005313
2002    0.005313
1988    0.004554
1986    0.004175
1990    0.003795
2000    0.003416
1981    0.003416
1980    0.003036
1991    0.002657
1978    0.001898
1999    0.001518
1972    0.001518
1979    0.001139
1965    0.001139
1977    0.001139
1976    0.000759
1960    0.000759
1973    0.000759
1941    0.000380
1974    0.000380
1975    0.000380
1956    0.000380
1970    0.000380
1952    0.000380
Name: proportion, dtype: float64

In [86]:
df_ind['ANO'][df_ind['ANO']>2010].value_counts().sort_values(ascending=False)

ANO
2011    133
2016    108
2021    108
2013    105
2019     96
2020     92
2015     91
2018     87
2014     80
2023     79
2017     76
2022     76
2012     68
2024     62
2025     34
Name: count, dtype: int64

In [94]:
total_mining_ind_land = df_ind['ANO'].value_counts().sum()

In [95]:
mining_ind_land_pos_2010 = df_ind['ANO'][df_ind['ANO']>2010].value_counts().sum()

In [97]:
# Now, it’s worth examining how many of these processes are recent.
perc_pos_2010 = mining_ind_land_pos_2010/total_mining_ind_land
perc_pos_2010

np.float64(0.49146110056925996)

## Combined Output Dataset: Mining Camps and Indigenous Lands

I’ve now imported two new CSV files. The first is a simple reference to verify the approximate number of Indigenous lands in Brazil.
The second, which I generated using QGIS, includes not only details about the mining processes (as in the original dataset) but also information about the Indigenous lands where those processes are occurring. While I could have combined everything into a single CSV, I chose to conduct the analysis in two parts for clarity and flexibility.

In [161]:
df_lands_info = pd.read_csv('ind_lands_data.csv')

In [162]:
df_lands_info.head()

,gid,terrai_cod,terrai_nom,etnia_nome,municipio_,uf_sigla,superficie,fase_ti,modalidade,reestudo_t,cr,faixa_fron,undadm_cod,undadm_nom,undadm_sig,dominio_un,data_atual,epsg
0,1,101,Acapuri de Cima,Kokama,Fonte Boa,AM,18393.9411,Regularizada,Tradicionalmente ocupada,NaN,COORDENACAO REGIONAL DO ALTO SOLIMOES,N�o,30202001857,COORDENACAO REGIONAL DO ALTO SOLIMOES,CR-AS,t,05/09/2023,0
1,2,201,Acim�,Apurin�,L�brea,AM,40686.0340,Regularizada,Tradicionalmente ocupada,NaN,COORDENACAO REGIONAL M�DIO PURUS,N�o,30202001878,COORDENACAO REGIONAL M�DIO PURUS,CR-Mpur,t,NaN,0
2,3,401,�gua Preta/Inari,Apurin�,Pauini,AM,139763.6705,Regularizada,Tradicionalmente ocupada,NaN,COORDENACAO REGIONAL M�DIO PURUS,N�o,30202001878,COORDENACAO REGIONAL M�DIO PURUS,CR-Mpur,t,NaN,0
3,4,501,�guas Belas,Patax�,Prado,BA,1189.0649,Regularizada,Tradicionalmente ocupada,NaN,COORDENACAO REGIONAL SUL DA BAHIA,N�o,30202001990,COORDENACAO REGIONAL SUL DA BAHIA,CR-SBA,t,NaN,0
4,5,601,Acon�,Tingui-Bot�,Traipu,AL,267.7862,Regularizada,Reserva Ind�gena,NaN,COORDENACAO REGIONAL NORDESTE I,N�o,30202001969,COORDENACAO REGIONAL NORDESTE I,CR-NE-I,t,NaN,0

In [170]:
# Checking how recent the available data is
df_lands_info['data_atual'].value_counts().sort_values(ascending=False)

data_atual
03/04/2020    19
02/04/2020    16
04/12/2018    13
31/03/2020     8
21/07/2025     7
              ..
12/07/2019     1
11/10/2019     1
09/08/2021     1
03/07/2020     1
13/06/2025     1
Name: count, Length: 294, dtype: int64

In [163]:
df_lands_info['terrai_cod'].nunique()

638

In [172]:
df_lands_info['fase_ti'].value_counts().sort_values(ascending=False)

fase_ti
Regularizada      490
Declarada          70
Delimitada         37
Encaminhada RI     24
Homologada         11
Em Estudo           6
Name: count, dtype: int64

In [177]:
df_lands_info['uf_sigla'].value_counts().sort_values(ascending=False)

uf_sigla
AM          141
MT           65
PA           51
MS           49
RS           30
AC           30
RR           30
SP           29
BA           26
PR           24
SC           24
MA           20
RO           19
MG           16
PE           15
AL           11
TO           10
CE            8
GO            6
AP            4
RJ            4
PB            3
PA,MT         3
ES            3
MT,PA         2
AM,PA         2
RO,MT         2
RR,AM         2
PR,SC         1
RR,AM,PA      1
AP,PA         1
MT,RO         1
SE            1
TO,PA         1
AM,AC         1
AM,RO         1
PI            1
Name: count, dtype: int64

In [176]:
df_lands_info['fase_ti'].isna().any()

np.False_

In [155]:
df_ind_info = pd.read_csv('intersection_mining_ind.csv')

In [156]:
df_ind_info.shape

(2842, 30)

In [157]:
df_ind_info.head()

,gid,terrai_cod,terrai_nom,etnia_nome,municipio_,uf_sigla,superficie,fase_ti,modalidade,reestudo_t,...,ANO,AREA_HA,ID,FASE,ULT_EVENTO,NOME,SUBS,USO,UF,DSProcesso
0,8,901,Aldeia Velha,Patax�,Porto Seguro,BA,1997.5526,Regularizada,Tradicionalmente ocupada,NaN,...,2014,23.99,{4B604FB0-F71B-4748-B09E-43AADDC484B9},AUTORIZAÇÃO DE PESQUISA,178 - AUT PESQ/TAH - NOTIFICAÇÃO ADMINISTRATIV...,Marcondes Nogueira Beneficiamentos Ltda Me,AREIA,Construção civil,BA,871.501/2014
1,8,901,Aldeia Velha,Patax�,Porto Seguro,BA,1997.5526,Regularizada,Tradicionalmente ocupada,NaN,...,2012,48.11,{97AD657E-BB79-497E-917D-3BE34F296840},AUTORIZAÇÃO DE PESQUISA,2481 - AUT PESQ/VENCIMENTO ALVARÁ ALTERADO RES...,Empresa de Navegação Vjb Ltda,AREIA,Construção civil,BA,872.416/2012
2,8,901,Aldeia Velha,Patax�,Porto Seguro,BA,1997.5526,Regularizada,Tradicionalmente ocupada,NaN,...,2017,996.14,{430B272D-8C2C-4532-BEC4-E8CD24F5AABE},AUTORIZAÇÃO DE PESQUISA,225 - AUT PESQ/MULTA APLICADA PUBL EM 18/09/2023,Luciano Araujo Menezes,ARGILA,Industrial,BA,870.631/2017
3,8,901,Aldeia Velha,Patax�,Porto Seguro,BA,1997.5526,Regularizada,Tradicionalmente ocupada,NaN,...,2012,36.32,{73E1EDE7-0099-45B7-8939-38EEB3420533},AUTORIZAÇÃO DE PESQUISA,2481 - AUT PESQ/VENCIMENTO ALVARÁ ALTERADO RES...,Empresa de Navegação Vjb Ltda,AREIA,Construção civil,BA,872.417/2012
4,8,901,Aldeia Velha,Patax�,Porto Seguro,BA,1997.5526,Regularizada,Tradicionalmente ocupada,NaN,...,2018,905.86,{51F38A5F-67A5-4506-A7B0-99425C792300},AUTORIZAÇÃO DE PESQUISA,794 - AUT PESQ/RELATÓRIO FINAL PESQUISA POSITI...,MOACYR COSTA PEREIRA DE ANDRADE,AREIA,Industrial,BA,871.780/2018

In [158]:
# Double-checking the number of processes to see if it matches the first .csv 
df_ind_info['ID'].nunique()

2633

In [159]:
df_ind_info = df_ind_info.rename(columns={'terrai_cod':'land_cod', 'terrai_nom':'ind_land','etnia_nome':'etn_name',
                            'municipio':'city','uf_sigla':'state', 'fase_ti':'stage'})

In [160]:
df_ind_info.head()

,gid,land_cod,ind_land,etn_name,municipio_,state,superficie,stage,modalidade,reestudo_t,...,ANO,AREA_HA,ID,FASE,ULT_EVENTO,NOME,SUBS,USO,UF,DSProcesso
0,8,901,Aldeia Velha,Patax�,Porto Seguro,BA,1997.5526,Regularizada,Tradicionalmente ocupada,NaN,...,2014,23.99,{4B604FB0-F71B-4748-B09E-43AADDC484B9},AUTORIZAÇÃO DE PESQUISA,178 - AUT PESQ/TAH - NOTIFICAÇÃO ADMINISTRATIV...,Marcondes Nogueira Beneficiamentos Ltda Me,AREIA,Construção civil,BA,871.501/2014
1,8,901,Aldeia Velha,Patax�,Porto Seguro,BA,1997.5526,Regularizada,Tradicionalmente ocupada,NaN,...,2012,48.11,{97AD657E-BB79-497E-917D-3BE34F296840},AUTORIZAÇÃO DE PESQUISA,2481 - AUT PESQ/VENCIMENTO ALVARÁ ALTERADO RES...,Empresa de Navegação Vjb Ltda,AREIA,Construção civil,BA,872.416/2012
2,8,901,Aldeia Velha,Patax�,Porto Seguro,BA,1997.5526,Regularizada,Tradicionalmente ocupada,NaN,...,2017,996.14,{430B272D-8C2C-4532-BEC4-E8CD24F5AABE},AUTORIZAÇÃO DE PESQUISA,225 - AUT PESQ/MULTA APLICADA PUBL EM 18/09/2023,Luciano Araujo Menezes,ARGILA,Industrial,BA,870.631/2017
3,8,901,Aldeia Velha,Patax�,Porto Seguro,BA,1997.5526,Regularizada,Tradicionalmente ocupada,NaN,...,2012,36.32,{73E1EDE7-0099-45B7-8939-38EEB3420533},AUTORIZAÇÃO DE PESQUISA,2481 - AUT PESQ/VENCIMENTO ALVARÁ ALTERADO RES...,Empresa de Navegação Vjb Ltda,AREIA,Construção civil,BA,872.417/2012
4,8,901,Aldeia Velha,Patax�,Porto Seguro,BA,1997.5526,Regularizada,Tradicionalmente ocupada,NaN,...,2018,905.86,{51F38A5F-67A5-4506-A7B0-99425C792300},AUTORIZAÇÃO DE PESQUISA,794 - AUT PESQ/RELATÓRIO FINAL PESQUISA POSITI...,MOACYR COSTA PEREIRA DE ANDRADE,AREIA,Industrial,BA,871.780/2018

In [106]:
df_ind_info['ind_land'].value_counts().sort_values(ascending=False).head(10).to_frame()

                        count
ind_land
Kayap�                    115
Yanomami                   87
Sawr� Bap in (Apompu)      86
Alto Rio Negro             73
Sawr� Muybu (Pimental)     73
Munduruku                  72
Waimiri-Atroari            72
Xikrin do Rio Catete       62
Tekoha Guas� Guavir�       61
Apyterewa                  56

In [108]:
df_ind_info['etn_name'].value_counts().sort_values(ascending=False).head(10).to_frame()

                                       count
etn_name
Kayap�                                   345
Munduruk�                                256
Guarani Mbya                             115
M�ra                                     103
Yanom�mi                                  87
Nambikw�ra                                77
Guarani Nhandeva                          76
Arap�so,Karapan�,Baras�na,Bar�,Wanana     73
Parakan�                                  72
Waimiri Atroari                           72

In [109]:
df_ind_info['state'].value_counts().sort_values(ascending=False).head(10).to_frame()

       count
state
PA       869
AM       375
MT       235
RR       169
RR,AM    159
RO       142
BA       125
MG       110
SC       102
PR        87

In [110]:
# Again, Amazonian states lead the rankings, a trend that is also reflected in the combined dataset

In [115]:
df_ind_info.groupby('ind_land')['FASE'].value_counts().sort_values(ascending=False).head(10).to_frame()

                                                        count
ind_land              FASE
Alto Rio Negro        REQUERIMENTO DE PESQUISA             72
Waimiri-Atroari       REQUERIMENTO DE PESQUISA             67
Yanomami              REQUERIMENTO DE PESQUISA             63
Kayap�                REQUERIMENTO DE PESQUISA             63
Ba�                   REQUERIMENTO DE PESQUISA             49
M�dio Rio Negro I     REQUERIMENTO DE PESQUISA             36
Munduruku             REQUERIMENTO DE PESQUISA             33
                      REQUERIMENTO DE LAVRA GARIMPEIRA     32
Sawr� Bap in (Apompu) REQUERIMENTO DE PESQUISA             31
Menkragnoti           REQUERIMENTO DE PESQUISA             30

In [116]:
# Documentation for "Requerimento de Lavra Garimpeira": https://www.gov.br/anm/pt-br/assuntos/exploracao-mineral/regimes-de-exploracao-mineral/permissao-de-lavra-garimpeira

In [124]:
df_ind_info.groupby('NOME')['ind_land'].value_counts().sort_values(ascending=False).head(10).to_frame()

                                                                    count
NOME                                        ind_land
Mamoré Mineração e Metalurgia Ltda          Waimiri-Atroari            34
VALE S.A.                                   Xikrin do Rio Catete       30
MINERACAO SILVANA INDUSTRIA E COMERCIO LTDA Ba�                        29
MINERACAO GUANHAES LTDA                     Kaxuyana-Tunayana          27
ANGLO AMERICAN NIQUEL BRASIL LTDA           Badjonkore                 21
                                            Sawr� Muybu (Pimental)     21
Falcon Metais Ltda                          Andir�-Marau               17
Mineração Itamaracá Ltda.                   Igarap� Lourdes            16
Joari Sociedade de Mineração Joari Ltda     Anaro                      15
VALE S.A.                                   Apyterewa                  14

In [126]:
df_ind_info.groupby('SUBS')['ind_land'].value_counts().sort_values(ascending=False).head(10).to_frame()

                                         count
SUBS             ind_land
AREIA            Tekoha Guas� Guavir�       58
MINÉRIO DE OURO  Munduruku                  47
                 Kayap�                     45
OURO             Ba�                        43
MINÉRIO DE OURO  Sawr� Bap in (Apompu)      42
                 Sawr� Muybu (Pimental)     40
                 Yanomami                   30
ZIRCÃO           Waimiri-Atroari            30
MINÉRIO DE COBRE Kaxuyana-Tunayana          27
OURO             Alto Rio Negro             25